<div class="container-fluid pt-100 pt-md-80">
    <div class="row">
        <div class="col-md-10 text-center mx-auto col-xl-7">
            <img class="mx-auto" src="img/svg/hand-01.svg" alt="">
            <div class="d-md-flex justify-content-center mt-50 align-items-center">
                <div class="col h2"><a href="/" target="_blank">@condesagin</a></div>
                <div class="col my-20"><a href="/" target="_blank"><svg class="icon-ig" aria-hidden="true"><use href="#icon-ig" xlink:href="#icon-ig"></use></svg></a></div>
                <div class="col h2"><a href="/" target="_blank">#unetealritual</a></div>
            </div>
        </div>
    </div>
</div>

<div class="d-lg-flex py-25 mt-80 px-xl-50 footer-nav text-center text-lg-left">
    <div class="col-12 col-lg mb-10">
        <ul class="list-inline">
            <li class="list-inline-item"><a href=""> Privacy policy</a></li> | 
            <li class="list-inline-item"><a href="">Terms & conditions</a> </li>
        </ul>
    </div>

    <div class="col-12 col-lg text-center mb-10">
        ©2021 Condesa Gin. All rights reserved
    </div>

    <div class="col-12 col-lg text-lg-right">
        <a href="mailto:hola@condesagin.com">hola@condesagin.com</a>
    </div>
</div>