<div class="container-fluid">
    <div class="row align-content-center">
        <div class="col burger-wrap d-block d-md-none">
            <div id="burger-menu" class="">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="col d-none d-md-flex align-items-center">
            <nav>
                <ul>
                    <li><a href="#">La tienda</a></li>
                </ul>
            </nav>
        </div>
        <div class="col text-center">
            <a href="/" class="logo">
                <svg class="logo-white" aria-hidden="true"><use href="#logo-white" xlink:href="#logo-white"></use></svg>
            </a>
        </div>
        <div class="col"></div>
    </div>

    <div class="header-menu js-menu">
        <nav class="py-20 text-center">
            <ul>
                <li>
                    <a href="#">
                            La tienda
                    </a>
                </li>
                
            </ul>
        </nav>
    </div>
</div>