.icon-close {
  width: 24px;
  height: 24px;
}

.icon-ig {
  width:30px;
  height:30px;
}

.icon-more {
  width:14px;
  height: 14px;
  vertical-align: middle;
}


.swiper-button-next, .swiper-button-prev {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDEiIGhlaWdodD0iNDIiIHZpZXdCb3g9IjAgMCA0MSA0MiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIwIDAuOTk5OTk5TDQwIDIxTDIwIDQxIiBzdHJva2U9IiM3Nzc3NzIiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=");
}

.swiper-button-prev {
  transform: scale(-1);
  left: 10px;
  margin: 0;
  top: 40%;
}

.swiper-button-next {
  right:10px;
  margin: 0;
  top: 40%;
}