@font-face {
    font-family: 'Condesa';
    src: url('./fonts/CondesaRegular.woff2') format('woff2'),
        url('./fonts/CondesaRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}